
body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
    color:#fff;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

header{
    text-align:center;
    background:#1b1b1b;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 15px rgba(255,215,0,.25);
}

h1{
    color:#FFD700;
    margin:0;
    font-size:32px;
}

h2{
    color:#ffffff;
}

.live{
    display:inline-block;
    margin-top:15px;
    background:#0f9d58;
    color:#fff;
    padding:10px 20px;
    border-radius:30px;
    font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
    margin:15px 0 30px;
    background:#202020;
}

th{
    background:#FFD700;
    color:#000;
    padding:10px;
}

td{
    border:1px solid #444;
    padding:10px;
    text-align:center;
}

tr:nth-child(even){
    background:#2b2b2b;
}

button{
    width:100%;
    padding:12px;
    background:#FFD700;
    color:#000;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
}

footer{
    text-align:center;
    margin-top:30px;
    color:#bbb;
    font-size:14px;
}
